* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem 0;
}

html {
  font-size: 62.5%;
}
footer {
  font-family: var(--secondaryFont);
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}
:root {
  --firstColor: hsl(31, 77%, 52%);
  --secondColor: hsl(184, 100%, 22%);
  --thirdColor: hsl(179, 100%, 13%);
  --fourthColor: hsl(0, 0%, 95%);
  --primaryFont: "Big Shoulders Display", cursive;
  --secondaryFont: "Lexend Deca", sans-serif;
}
#root {
  width: 100%;
}
.card {
  width: clamp(100px, 90%, 75rem);
  margin: 0 auto;
  border-radius: 7px;
  overflow: hidden;
}
.card img {
  width: 50px;
  height: auto;
}

.card h2 {
  font-family: var(--primaryFont);
  font-size: 3rem;
  font-weight: bold;
}
.card p {
  font-family: var(--secondaryFont);
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.6;
  letter-spacing: 0.5px;
}
.card button {
  background-color: var(--fourthColor);
  border: 2px solid var(--fourthColor);
  margin-bottom: 10px;
  padding: 8px 22px;
  border-radius: 30px;
  font-size: 13px;
  cursor: pointer;
  font-family: var(--secondaryFont);
  letter-spacing: 0.5px;
  transition: all 0.3s;
}

button:hover {
  background-color: transparent;
  color: var(--fourthColor);
}
.content {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.firstButton {
  color: var(--firstColor);
}
.secondButton {
  color: var(--secondColor);
}
.thirdButton {
  color: var(--thirdColor);
}
.sedans,
.suvs,
.luxury {
  color: #fff;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: flex-start;
}
.sedans {
  background-color: var(--firstColor);
  border-radius: 5px 0 0 5px;
}
.suvs {
  background-color: var(--secondColor);
}
.luxury {
  background-color: var(--thirdColor);
  border-radius: 0 5px 5px 0;
}

@media screen and (min-width: 650px) {
  body .card {
    display: flex;
    flex-direction: row;
  }
  .sedans,
  .suvs,
  .luxury {
    row-gap: 8rem;
  }
  .content {
    row-gap: 2rem;
  }
}
